<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Catalogue de chat</title>
</head>
<body>
    <div>
        <img src="" alt="image chat"/>
        <p>Paupiette, 38 ans</p>
        <a href="/">Infos</a>
    </div>

    <br></br>

    <div>
        <img src="" alt="image chat"/>
        <p>Konkonbre, 12 ans</p>
        <a href="/">Infos</a>
    </div>

    <br></br>

    <div>
        <img src="" alt="image chat"/>
        <p>Pascaline, 58 ans</p>
        <a href="/">Infos</a>
    </div>
</body>
</html>